#container {
  text-align: center;
  --background: aliceblue;
  left: 0;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}
.background-orange{
  --background: orange;
  position: absolute;
  
}
.header-container{
  height: 40%;
  --background: white;
  top: 60%;
  width: 70%;
  left: 15%;
}
.text{
  width: 80%;
  color:rgb(110, 106, 106) ;
  border-bottom: 1px solid rgb(110, 106, 106);
  margin: auto;
}
.ion-bt{
  width: 80%;
  margin: auto;
}
ion-item{
  background-color: orange;
  line-height: 300px;
}
ion-button{
  margin-top: 20px;
  width: 80%;
}
ion-input{
  flex-direction: row-reverse;
}