<ion-header [translucent]="true" style="height:30%; background-color:orange;">
  <ion-content class="background-orange"></ion-content>
  <ion-item class="header-container">
    <ion-img src="/baitap1/src/assets/images/logo.PNG" style="width:100%;height:52%;margin-bottom: auto;"></ion-img>
  </ion-item>
</ion-header>

<ion-content id="container"[fullscreen]="true">
  <ion-input class="text ion-text-left" placeholder="Chứng minh nhân dân"></ion-input><ion-icon name="key-outline"></ion-icon>
  <ion-button class="ion-bt-left" fill="outline"color="danger">ĐĂNG NHẬP</ion-button>
</ion-content>
